@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CGI Edmonton<br />
    103, Jasper Avenue<br />
    <abbr title="Phone">P:</abbr>
    780.638.3380
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jaspreet.bhangoo@cgi.com">jaspreet.bhangoo@cgi.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jaspreet.bhangoo@cgi.com">jaspreet.bhangooting@cgi.com</a>
</address>